In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
df_path = "books.xlsx"
temp_file = pd.read_excel(df_path)
temp_file.to_csv("books.csv", index = None, header=True)
df = pd.DataFrame(pd.read_csv("books.csv"))
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÌ©,4.57,439785960,9780000000000,eng,652,2095690,27591,2006-09-16 00:00:00,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÌ©,4.49,439358078,9780000000000,eng,870,2153167,29221,2004-09-01 00:00:00,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9780000000000,eng,352,6333,244,2003-11-01 00:00:00,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÌ©,4.56,043965548X,9780000000000,eng,435,2339585,36325,2004-05-01 00:00:00,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÌ©,4.78,439682584,9780000000000,eng,2690,41428,164,2004-09-13 00:00:00,Scholastic,NaN

In [3]:
df.describe(), df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  object
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  object
 6   language_code       11127 non-null  object
 7   num_pages           11127 non-null  object
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
 12  Unnamed: 12         3 non-null      object
dtypes: int64(3), object(10)
memory usage: 1.1+ MB

(             bookID  ratings_count  text_reviews_count
 count  11127.000000   1.112700e+04        11127.000000
 mean   21310.938887   1.793647e+04          541.859531
 std    13093.358023   1.124794e+05         2576.175586
 min        1.000000   0.000000e+00            0.000000
 25%    10287.000000   1.040000e+02            9.000000
 50%    20287.000000   7.450000e+02           46.000000
 75%    32104.500000   4.993500e+03          237.500000
 max    45641.000000   4.597666e+06        94265.000000,
 None,
 (11127, 13))

In [4]:
df.drop(['Unnamed: 12', 'isbn13'], axis = 1, inplace = True)

In [5]:
df.columns, df.dtypes

(Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'language_code',
        'num_pages', 'ratings_count', 'text_reviews_count', 'publication_date',
        'publisher'],
       dtype='object'),
 bookID                 int64
 title                 object
 authors               object
 average_rating        object
 isbn                  object
 language_code         object
 num_pages             object
 ratings_count          int64
 text_reviews_count     int64
 publication_date      object
 publisher             object
 dtype: object)

In [6]:
# df['language_code'].isin(val).sum()
# df = df.astype({'average_rating':'float16'})
# df['language_code'].unique()
val = '9780000000000'
df.loc[df['language_code'] == val]

,bookID,title,authors,average_rating,isbn,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net,one of the founding members of this Tolkien we...,3.58,9780000000000,eng,400,26,4,2004-04-06 00:00:00
5877,22128,Patriots (The Coming Collapse),James Wesley,Rawles,3.63,9780000000000,eng,342,38,4,1999-01-15 00:00:00
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,Brown,Son & Ferguson,0,9780000000000,eng,49,0,0,1977-05-01 00:00:00

In [7]:
# df['language_code'].unique()
df['num_pages'].str.isdigit().sum()

11124

In [71]:
# df["publication_date"][df["bookID"] == 16914] = df["publisher"][df["bookID"] == 16914]
df.loc[(df['bookID'] == 16914) & (df['bookID'] == 22128) & (df['bookID'] == 34889)]

Empty DataFrame
Columns: [bookID, title, authors, average_rating, isbn, language_code, num_pages, ratings_count, text_reviews_count, publication_date, publisher]
Index: []

In [62]:
# list = [16914, 22128, 34889]
# for i in list:
    # df['language_code'][df["bookID"] == i] = "eng"
df.loc[df["bookID"] == 16914]

,bookID,title,authors,average_rating,isbn,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net,one of the founding members of this Tolkien we...,3.58,eng,299,400,26,2004-04-06 00:00:00,2004-04-06 00:00:00

In [108]:
# df["publisher"].fillna('Unknown', inplace = True)
# df['average_rating'][df["bookID"] == 22128] = 4.0
# df['average_rating'][df["bookID"] == 16914] = 4.0
# df['average_rating'][df["bookID"] == 34889] = 4.0
# df = df.astype({'num_pages': 'int64'})
df.loc[df["bookID"] == 22128]

,bookID,title,authors,average_rating,isbn,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
5877,22128,Patriots (The Coming Collapse),James Wesley,4.0,3.63,eng,299.0,342,38,1999-01-15 00:00:00,Unknown

In [125]:
df.loc[df['bookID'] == 31373]

,bookID,title,authors,average_rating,isbn,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
8180,31373,In Pursuit of the Proper Sinner (Inspector Lyn...,Elizabeth George,4.1,553575104,eng,718,10608,295,2000-11-30 00:00:00,Bantam Books

In [130]:
# df['publication_date'].describe()
# df.astype({'average_rating': 'float64'})
# pd.to_datetime(df['publication_date'])
# df['publication_date'][df['bookID'] == 31373] = "2000-11-30 00:00:00"
# df['publication_date'][df['bookID'] == 45531] = "1982-06-30 00:00:00"
df.info()

0       2006-09-16
1       2004-09-01
2       2003-11-01
3       2004-05-01
4       2004-09-13
           ...
11122   2004-12-21
11123   1988-12-01
11124   1993-08-01
11125   2007-02-27
11126   2006-05-28
Name: publication_date, Length: 11127, dtype: datetime64[ns]

In [85]:
# df['publication_date'].apply(lambda x: x.strftime('%d%m%Y'))

In [138]:
df['title'].duplicated().sum()

775

In [131]:
# df.to_csv('cleaned.csv')

In [32]:
# df.astype({'average_rating':'str'}).info()
# df.loc[df['average_rating'].str.istitle()]
# df['average_rating'].str.istitle().sum()
# df['average_rating'].str.contains(r"^[A-Z][a-z]+\s[a-z]+\S*$").sum()
df['language_code'].unique()

array(['eng', 'en-US', 'fre', 'spa', 'en-GB', 'mul', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       'ita', 'rus', 'msa', 'glg', 'wel', 'swe', 'nor', 'tur', 'gla',
       'ale'], dtype=object)

In [143]:
df1 = pd.read_csv('cleaned.csv')
df1.head()

,Unnamed: 0,bookID,title,authors,average_rating,isbn,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÌ©,4.57,439785960,eng,652,2095690,27591,16-09-2006 00:00,Scholastic Inc.
1,1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÌ©,4.49,439358078,eng,870,2153167,29221,01-09-2004 00:00,Scholastic Inc.
2,2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,eng,352,6333,244,01-11-2003 00:00,Scholastic
3,3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÌ©,4.56,043965548X,eng,435,2339585,36325,01-05-2004 00:00,Scholastic Inc.
4,4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÌ©,4.78,439682584,eng,2690,41428,164,13-09-2004 00:00,Scholastic

In [161]:
x = "Ḁ ḁ ἀ ἁ ἂ ἃ ἄ ἅ ἆ ἇ Ἀ Ἁ Ἂ Ἃ Ἄ Ἅ Ἆ Ἇ ạ Ả ả Ấ ấ Ầ ầ Ẩ ẩ Ẫ ẫ Ậ ậ Ắ ắ Ằ ằ Ẳ ẳ Ẵ ẵ Ặ ặ ẚ ᾰ ᾱ ᾲ ᾳ ᾴ ᾵ ᾶ ᾷ Ᾰ Ᾱ Ὰ Ά ᾼ ὰ ά ᾀ ᾁ ᾂ ᾃ ᾄ ᾅ ᾆ ᾇ ᾈ ᾉ ᾊ ᾋ ᾌ ᾍ ᾎ ᾏ ə Ḃ ḃ Ḅ ḅ Ḇ ḇ Ḉ ḉ Ḋ ḋ Ḍ ḍ Ḏ ḏ Ḑ ḑ Ḓ ḓ   Ḕ ḕ Ḗ ḗ Ḙ ḙ Ḛ ḛ Ḝ ḝ Ẹ ẹ Ẻ ẻ Ẽ ẽ Ế ế Ề ề Ể ể Ễ ễ Ệ ệ Ὲ Έ ἐ ἑ ἒ ἓ ἔ ἕ ἖ ἗ Ἐ Ἑ Ἒ Ἓ Ἔ Ἕ ὲ έ Ɇ ɇ Ḟ ḟ Ḡ ḡ Ḣ ḣ Ḥ ḥ Ḧ ḧ Ḩ ḩ Ḫ ḫ ẖ Ἠ Ħ Ἡ Ἢ Ἣ Ἤ Ἥ Ἦ Ἧ ᾘ ᾙ ᾚ ᾛ ᾜ ᾝ ᾞ ᾟ Ὴ Ή ῌ Ḭ ḭ Ḯ ḯ Ỉ ỉ Ị ị ἰ ἱ ἲ ἳ ἴ ἵ ἶ ἷ Ἰ Ἱ Ἲ Ἳ Ἴ Ἵ Ἶ Ἷ ῐ ῑ ῒ ΐ ῔ ῕ ῖ ῗ Ῐ Ῑ Ὶ Ί ὶ ί Ḱ ḱ Ḳ ḳ Ḵ ḵ Ḷ ḷ Ḹ ḹ Ḻ ḻ Ḽ ḽ   Ḿ ḿ Ṁ ṁ Ṃ ṃ Ṅ ṅ Ṇ ṇ Ṉ ṉ Ṋ ṋ ἠ ἡ ἢ ἣ ἤ ἥ ἦ ἧ ὴ ή ᾐ ᾑ ᾒ ᾓ ᾔ ᾕ ᾖ ᾗ ῂ ῃ ῄ ῅ ῆ ῇ Ṍ ṍ Ṏ ṏ Ṑ ṑ Ṓ ṓ Ọ ọ Ỏ ỏ Ố ố Ồ ồ Ổ ổ Ỗ ỗ Ộ ộ Ớ ớ Ờ ờ Ở ở Ỡ ỡ Ợ ợ ὀ ὁ ὂ ὃ ὄ ὅ ὆ ὇ Ὀ Ὁ Ὂ Ὃ Ὄ Ὅ Ὠ Ὡ Ὢ Ὣ Ὤ Ὥ Ὦ Ὧ ὸ ό ᾨ ᾩ ᾪ ᾫ ᾬ ᾭ ᾮ ᾯ Ὸ Ό Ὼ Ώ ῼ Ø ø Ṕ ṕ Ṗ ṗ ῥ ῤ Ῥ  Ṙ ṙ Ṛ ṛ Ṝ ṝ Ṟ ṟ Ṡ ṡ Ṣ ṣ Ṥ ṥ Ṧ ṧ Ṩ ṩ   ş t Ṫ ṫ Ṭ ṭ Ṯ ṯ Ṱ ṱ ẗ   Ṳ ṳ Ṵ ṵ Ṷ ṷ Ṹ ṹ Ṻ ṻ Ụ ụ Ủ ủ Ứ ứ Ừ ừ Ử ử Ữ ữ Ự ự ὐ ὑ ὒ ὓ ὔ ὕ ὖ ὗ ὺ ύ ῠ ῡ ῢ ΰ ῦ ῧ Ṽ ṽ Ṿ ṿ w Ẁ ẁ Ẃ ẃ Ẅ ẅ Ẇ ẇ Ẉ ẉ ẘ ὠ ὡ ὢ ὣ ὤ ὥ ὦ ὧ ὼ ώ ᾠ ᾡ ᾢ ᾣ ᾤ ᾥ ᾦ ᾧ ῲ ῳ ῴ ῶ ῷ Ẋ ẋ Ẍ Ã Œ Â ¤"
y  = x.strip()
pattern = r"\b(?!\w*(\w)\w*\1)[{}]+\b".format(y)
df1['publisher'].str.contains(pattern).sum()

C:\Users\prath\AppData\Local\Temp\ipykernel_9512\31400114.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df1['publisher'].str.contains(pattern).sum()

7995

In [172]:
df2 = df1[df1['title'].map(lambda x: x.isascii())]
df3 = df2[df2['publisher'].map(lambda x: x.isascii())]
df3.shape

(10731, 12)

In [173]:
df3.to_csv('cleaned2.csv')